<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BFClassLifeCycleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A80520941F3C58E6000657C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A80520AD1F3C58E8000657C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A80520B81F3C58E8000657C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
